<div class="Grid">
  <div id="Header" class="Row">
    <h1>Header (70pt)</h1>
  </div>
  <div id="Main" class="Row Expand">
    <div id="Inside" class="Grid">
      <div id="LSide" class="Column">
        <div class="Grid">
          <div class="Row">Header</div>
          <div class="Row Expand">Content</div>
          <div class="Row">Footer</div>
        </div>
      </div>
      <div id="Content" class="Column Expand">
        <h2>Content (expands)</h2>
      </div>
      <div id="RSide" class="Column">
        <p>RSide (100pt)</p>
      </div>
    </div>
  </div>
  <div id="Footer" class="Row">
    <h3>Footer (auto)</h3>
  </div>
</div>
