<panel>
  <header>Main Header</header>

  <content>
    <columns>

      <column width="200">
        <header>
          Left Header
        </header>
        <content>
          Left Content
        </content>
        <footer></footer>
      </column>

      <column>
        <header>Header</header>
        <content>
          Main Content
        </content>
      </column>

      <column width="200">
        <content>
          Left Content
        </content>
      </column>

    </columns>
  </content>
  
  <footer>Footer</footer>
</panel>
<!-- <div ui-view></div> -->
