#layout-header {
    height: 50px;
}

#layout-footer {
    height: 50px;
}

#layout-content-left,
#layout-content-main,
#layout-content-right {
  position: absolute;
  overflow-y: auto;
  border: solid 1px #c2c2c2;
}

#layout-content-left,
#layout-content-right {
  width: 200px;
}

.wsib-panel {
    position: relative;
    overflow: hidden;
}
.wsib-panel-header {
    overflow: auto;
    border-bottom: solid 1px #c2c2c2;
}
.wsib-panel.panel-scrolled .wsib-panel-header {
    border-bottom-color: #FFF;
    box-shadow: 0 0 5px;
}
.wsib-panel-content {
    overflow-y: scroll;
}
