body{
  min-width: 1024px
}

#layout-header {
    height: 50px;
}

#layout-footer {
    height: 50px;
}

#layout-content-left,
#layout-content-main,
#layout-content-right {
  position: absolute;
  overflow-y: auto;
  border: solid 1px #c2c2c2;
}

#layout-content-left,
#layout-content-right {
  width: 200px;
}

#layout-content-left.closed,
#layout-content-right.closed {
  width: 0;
  overflow: hidden !important;
}

.wsib-panel {
    position: relative;
    overflow: hidden;
}
.wsib-panel-header {
    overflow: auto;
    border-bottom: solid 1px #c2c2c2;
}
.wsib-panel.panel-scrolled .wsib-panel-header {
    box-shadow: 0 0 5px;
}
.wsib-panel-content {
    overflow-y: scroll;
}

.has-panel {
    overflow: hidden !important;
}
